body {
    background-color: #e5e5e5;
}

/*top margin*/
#div-margin-top, #login-form, #register-form, #form-label{
    margin-top: 80px;
}

#aspect-form{
    margin-top: 20px;
}


#login-button, #login-fields-label, #register-button, #register-fields-label{
    margin-top: 20px;
}

#login-register-link, #register-login-link{
    margin-top: 5px;
}


/*Survey*/

#survey-submit-button{
    margin-bottom: 100px;
    margin-top: 50px;

}

#survey-label{
    margin-top: 50px;
    margin-bottom: 20px;
}

#comment-field-div{
    margin-bottom: 30px;
}

#survey-opinion-field{
    margin-bottom: 20px;
}

ul {
    list-style: none;
}


/*aspect from*/
#aspect-submit-button{
    width: 200px;
}

/*alert*/
#alert-message{
    font-size: 16px;
}
#alert-message-div{
    height: 50px;
}