<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    li {
        display: inline-block;
}
</style>
<body>
    <form method="POST" action="" enctype="multipart/form-data" name="drop1">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" name="Update Information">
    </form>
    <br>
   
     <div class="container">
        <div class="row">
          <div class="col">
              <b>ASPECT</b>
            {% for key, aspect in acad_dict.items %}
                {% for asp in aspect %}
            
                     <div>{{asp}}</div>
           
               
                {% endfor %}
   
           {% endfor %}
          </div>

          <div class="col">
            <b>Comment</b>

            {% for key, aspect in filterd_acad_comment.items %}
                <div>{{ aspect }}</div>
        
            

            {% endfor %}
          </div>
        </div>
    </div>
     

    <div>
        
        <canvas id="myChart" width="100" height="100">
            
        </canvas>
    </div>

       <script>
            var ctx = document.getElementById('myChart').getContext('2d')
        var title = ["{{selected}}"]
        var sent = JSON.parse("{{sentiment}}")
        
        console.log(title, sent)
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: title,
                datasets: [{
                    data: sent,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                indexAxis: 'y',
                maintainAspectRatio: false,
                
                plugins: {
                    title: {
                    display: true,
                    text: 'Average sentiment of Students'
                 },
                    legend:{
                        display:false
                    }
                }
            }
        });
       </script>
</body>
</html>