{% extends 'app/main.html' %}
{% block content %}

<div class="row" id="form-label">
    <h3 class="text-center">Aspect Chart</h3>
</div>

<div class="card text-center" style="width: 18rem;">
  <img class="card-img-top rounded" src="{{ uri }}" alt="word cloud">
  <div class="card-body bg-light text-dark">
    <p class="card-text">Word Cloud</p>
  </div>
</div>

<!--<div class="row">
    <div class="col text-center">
        <img src="{{ uri }}" class="rounded">
    </div>

    &lt;!&ndash;<div class="col text-center">
        <canvas  id="myChart" width="500" height="200"></canvas>
    </div>&ndash;&gt;
</div>-->

<script>



</script>
<div class="row">
    <div class="col text-center">
        <b>ASPECT</b>

            {% if userIsAcad == 1 %}
            
                {% if acad_dict.items|length == 0 %}
                <div>No Relative Aspect</div>
                {% endif %}

                {% for key, aspect in acad_dict.items %}
                {% for asp in aspect %}
                <div>{{asp}}</div>
                {% endfor %}
                {% endfor %}

            {% elif userIsIto == 1 %}
                {% if ito_dict.items|length == 0 %}
                <div>No Relative Aspect</div>
                {% endif %}

                {% for key, aspect in ito_dict.items %}
                {% for asp in aspect %}
                <div>{{asp}}</div>
                {% endfor %}
                {% endfor %}

            {% elif userIsItbl == 1 %}
                {% if itbl_dict.items|length == 0 %}
                <div>No Relative Aspect</div>
                {% endif %}

                {% for key, aspect in itbl_dict.items %}
                {% for asp in aspect %}
                <div>{{asp}}</div>
                {% endfor %}
                {% endfor %}


            {% endif %}
        

        <!--REmove me when may user credentials na-->

        <!--
        {% if acad_dict.items|length == 0 %}
        <div>No Relative Aspect</div>
        {% endif %}

        {% for key, aspect in acad_dict.items %}
        {% for asp in aspect %}
        <div>{{asp}}</div>
        {% endfor %}
        {% endfor %}
        -->
    </div>
    <div class="col text-center">
        <b>Comment</b>

        
           
            {% if userIsAcad == 1 %}
                {% if filterd_acad_comment.items|length == 0 %}
                <div>No Relative Comment</div>
                {% endif %}

                {% for key, aspect in filterd_acad_comment.items %}
                    <div>{{ aspect }}</div>
                {% endfor %}
            {% elif userIsIto == 1 %}
                {% if filterd_ito_comment.items|length == 0 %}
                <div>No Relative Comment</div>
                {% endif %}

                {% for key, aspect in filterd_ito_comment.items %}
                    <div>{{ aspect }}</div>
                {% endfor %}
            {% elif userIsItbl == 1 %}
                {% if filterd_itbl_comment.items|length == 0 %}
                <div>No Relative Comment</div>
                {% endif %}

                {% for key, aspect in filterd_itbl_comment.items %}
                    <div>{{ aspect }}</div>
                {% endfor %}


            {% endif %}
        


        <!--REmove me when may user credentials na
        {% if filterd_acad_comment.items|length == 0 %}
        <div>No Relative Comment</div>
        {% endif %}

        {% for key, aspect in filterd_acad_comment.items %}
            <div>{{ aspect }}</div>
        {% endfor %}
    </div>
    <div class="col text-center">
        <b>Average student sentiment</b>
        <div>{{sentiment}}</div>
    </div>

    <div class="col text-center">
        <b>Average sentiment</b>
        <div>
            {% if sentiment > 0.05 %}
            <div>positive</div>

            {% elif sentiment < 0.03 %}
            <div>negative</div>

            {% else %}
            <div>neutral</div>
            {% endif %}
        </div>
         -->
    </div>
   
    <div class="bs-example">
        <!-- Button HTML (to Trigger Modal) -->
        <a href="#myModal" role="button" class="btn btn-lg btn-primary" data-toggle="modal">Show Action Plan</a>
    
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">


                        
                            
                            {% if userIsAcad == 1 %}
                                <h5 class="modal-title">Academic Council</h5>

                            {% elif userIsIto == 1 %}
                                <h5 class="modal-title">Information Technology Office</h5>

                            {% elif userIsItbl == 1 %}
                             <h5 class="modal-title">Institute of Technology-Based Learning</h5>



                            {% endif %}
                        
                      
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        
                     
                            {% if userIsAcad == 1 %}
                                <p>{{acadPlan}}</p>
                            {% elif userIsIto == 1 %}
                                <p>{{itoPlan}}</p>
                            {% elif userIsItbl == 1 %}
                                <p>{{itblPlan}}</p>


                            {% endif %}
                        
                       
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>

<div class="row justify-content-md-center" id="aspect-form">
    <div class="col">
        <form method="POST" action="" enctype="multipart/form-data" name="drop1">
            {% csrf_token %}
            {{form.as_p}}
            <div class="row">
                <div class="col col-sm-8 col-md-6 col-lg-6">
                    <input class="btn btn-primary" type="submit" name="Update Information" id="aspect-submit-button">
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    var ctx = document.getElementById('myChart').getContext('2d')
    var title = ["{{selected}}"]
    var sent = "{{sentiment}}"

    console.log(title, sent)
    var myChart = new Chart(ctx, {
         type: 'bar',
         data: {
             labels: title,
             datasets: [{
                 data: sent,
                 backgroundColor: [
                     'rgba(255, 99, 132, 0.2)',
                     'rgba(54, 162, 235, 0.2)',
                     'rgba(255, 206, 86, 0.2)',
                     'rgba(75, 192, 192, 0.2)',
                     'rgba(153, 102, 255, 0.2)',
                     'rgba(255, 159, 64, 0.2)'
                 ],
                 borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                 ],
                 borderWidth: 1
             }]
         },
         options: {
             responsive: false,
             indexAxis: 'y',
             maintainAspectRatio: true,
             plugins: {
                 title: {
                    display: true,
                    text: 'Average sentiment of Students'
                 },
                 legend:{
                    display:false
                 }
             }
         }
    });
</script>
{% endblock %}