{% extends 'app/main.html' %}
{% block content %}

<div class="row" id="form-label">
    <h3 class="text-center">Course Feedback Mining System</h3>
</div>
<div class="row justify-content-md-center" id="register-form">
    <div class="col-sm-2 col-md-auto col-lg-4">
    </div>
    <div class="col-sm-8 col-md-3 col-lg-3">
        <form action="#" method="post">
            <h4 class="text-center">Register</h4>
            {% csrf_token %}

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong></strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

            {% for item in registrationForm %}
                <div class="row" id="register-fields-label">
                    {{ item.label }}
                </div>
                <div class="row">
                    {{ item }}
                </div>
            {% endfor %}
            <div class="row" id="register-button">
                <input class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>
        <p class="text-center" id="register-login-link">Already have an account?<a href="{% url 'login' %}">Login here!</a></p>
    </div>
    <div class="col-sm-2 col-md-auto col-lg-4">
    </div>
</div>

{% endblock %}