<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Sentiment Bar Chart</title>
</head>
<body>
    <div>
        
    <canvas id="myChart" width="500" height="500"></canvas>

    </div>
    <script>
        console.log('{{comp.0}}')
    </script>
    <script type="text/javascript">
        
        var ctx = document.getElementById('myChart').getContext('2d')
        var a = ['I can easily log-in and log-out my Canvas account.', 'I can access my course using the mobile Canvas app.', 'I can access my Canvas account using the available computers in JRU.', 'I have no issues accessing my Canvas account using the wired internet connection in the computer laboratories.', 
                'I can easily get help when I have problems with my Canvas account.  ', 'I can access my Canvas account outside JRU.  ', 'I can clearly understand the lessons on my Canvas modules.  ', 'I recognize that the modules in my course are well organized.  ', 'I can easily manage the navigation of the courses through the desktop version.', 
                'I can easily manage the navigation of the courses through the mobile app. ', 'I notice that course materials on Canvas have connection with the face to face (classroom) lesson content.  ', 'I understand the lessons better with the help of course materials in Canvas.  ', 'Canvas course materials make me interested.  ', 
                'The course materials on Canvas helped me prepare for: Face to face discussions, quizzes, major exams, assignments, forums, etc. ', 'My instructor knows how to use Canvas.  ', 'My instructor demonstrated mastery of the subject matter.  ', 'My instructor encourages me to use Canvas.  ', 
                'Canvas has made it easy for me to: communicate with my instructor, receive class announcements, share ideas on group discussions', 'I can answer the assessment materials (quiz, exam) posted in Canvas.  ', 'I find the course materials on Canvas aligned with the: quizzes, major exams, assignments, forums, etc.)  ',
                'I have been give enough time to accomplish the activities on Canvas. ']

        var b = ["{{comp.0}}","{{comp.1}}","{{comp.2}}","{{comp.3}}","{{comp.4}}",
                "{{comp.5}}","{{comp.6}}","{{comp.7}}","{{comp.8}}","{{comp.9}}",
                "{{comp.10}}","{{comp.11}}","{{comp.12}}","{{comp.13}}","{{comp.14}}",
                "{{comp.15}}","{{comp.16}}","{{comp.17}}","{{comp.18}}","{{comp.19}}",
                "{{comp.20}}"
                ]

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: a,
                datasets: [{
                    data: b,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                indexAxis: 'y',
                maintainAspectRatio: true,
                
                plugins: {
                    title: {
                    display: true,
                    text: 'Average sentiment of Students'
                 },
                    legend:{
                        display:false
                    }
                }
            }
        });
    </script>


</body>

</html>