{% extends 'app/main.html' %}
{% block content %}

<table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Question</th>
            <th>Department Aspect</th>
            <th>Sentiment Score</th>
            <th>Sentiments</th>
            <th>Action Plan</th>
          </tr>
        </thead>
        <tbody>

    {% if userIsAcad == 1 %}
       {% if AcadSummary %}
          {% for i in AcadSummary %}
        
                <tr>
                    <td>{{i.Question}}</td>
                    <td>{{i.Dept_aspect}}</td>
                    <td>{{i.Sentiment_Score}}</td>
                    <td>{{i.Sentiments}}</td>
                    <td>{{i.Action_Plan}}</td>
                </tr>

            {% endfor %}
        {% endif %}

        {% elif userIsIto == 1 %}

        {% if ItoSummary %}
          {% for i in ItoSummary %}
        
                <tr>
                    <td>{{i.Question}}</td>
                    <td>{{i.Dept_aspect}}</td>
                    <td>{{i.Sentiment_Score}}</td>
                    <td>{{i.Sentiments}}</td>
                    <td>{{i.Action_Plan}}</td>
                </tr>

            {% endfor %}
        {% endif %}

        {% elif userIsItbl == 1 %}

        {% if ItblSummary %}
          {% for i in ItblSummary %}
        
                <tr>
                    <td>{{i.Question}}</td>
                    <td>{{i.Dept_aspect}}</td>
                    <td>{{i.Sentiment_Score}}</td>
                    <td>{{i.Sentiments}}</td>
                    <td>{{i.Action_Plan}}</td>
                </tr>

            {% endfor %}
        {% endif %}

         
    {% endif %}


    
{% endblock %}