{% extends 'app/main.html' %}
{% block content %}


<div class="row" id="form-label">
    <h3 class="text-center">Likert Chart Test</h3>
</div>

<div class="container">
    <div class="row">
        {% for col in column_name %}

        <div class="col-12 col-md-12 col-lg-6 text-center" style="padding-top: 50px;">
            <b>{{ forloop.counter }}. {{ col }}</b>
            <canvas id="myChart{{ forloop.counter0 }}" width="400" height="400" class="mx-auto"></canvas>
        </div>

        {% endfor %}
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript">

$( document ).ready(function(){

    var num=0;

    function renderChart(data, myChartNum){
        num = myChartNum;
        console.log("render now");
        console.log(data);
        console.log(num);

        var ctx = document.getElementById(num).getContext('2d')
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Strongly Agree', 'Agree', 'Disagree', 'Strongly Disagree'],
                datasets: [{
                    data: data,
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                }]
            },

            options: {
                responsive: false,
                maintainAspectRatio: false,

                plugins: {
                    title: {
                        display: true,
                    },
                    legend:{
                        display:true,
                    }
                }
            }

        })
    };

    function getChartData(){
        console.log("entered getchart");
        var a = '{{likert|safe}}';

        for (var i = 0; i <= 27 ; i++) {
            var res1 = JSON.parse(a)[i];
            var myChartNum = "myChart"+i;

            renderChart( res1, myChartNum);
        }
    };


    console.log("start getchart");
    getChartData();
});

</script>

{% endblock %}