<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Course Feedback Mining System</a>
  {% if currentPage != "/register/" and currentPage != "/login/" %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--justify-content-end-->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% url 'sentiment' as sent %}
        {% url 'likert' as likert %}
        {% url 'survey' as survey %}
        {% url 'aspect' as aspect %}
        {% url 'summary' as sum %}
          {% if role == "itbl" or role == "acads" or role == "ito" %}
          <a href="{% url 'aspect' %}" class="nav-item nav-link {% if currentPage == aspect %} active {% endif %}">Aspect</a>
          <a href="{% url 'likert' %}" class="nav-item nav-link {% if currentPage == likert %} active {% endif %}">Likert</a>
          <a href="{% url 'sentiment' %}" class="nav-item nav-link {% if currentPage == sent %} active {% endif %}">Sentiment</a>
          <a href="{% url 'summary' %}" class="nav-item nav-link {% if currentPage == sum %} active {% endif %}">Summary</a>
          <a href="{% url 'survey' %}" class="nav-item nav-link  {% if currentPage == survey %} active {% endif %}">Survey</a>

        {% else %}
          <a href="{% url 'survey' %}" class="nav-item nav-link  {% if currentPage == survey %} active {% endif %}">Survey</a>

        {% endif %}
      </div>
      <a type="button" class="btn btn-dark" id="#logout-button" href="{% url 'logout' %}">Logout</a>
      </div>
  {% endif %}
</nav>