{% extends 'app/main.html' %}
{% block content %}
     
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Question</th>
            <th>Sentiment Score</th>
            <th>Sentiment</th>
            

          </tr>
        </thead>
        <tbody>


       {% if thisSent %}
       {% for j in thisSent %}
          {% for i,k in j.items %}
        
          <tr>
            <td>{{i}}</td>
            <td>{{k}}</td>

            {% if k > 0.05 %}
            <td> POSITIVE </td>
            {% elif k <= 0.03 %}
            <td>NEGATIVE</td>
            {% elif k < 0.05 and k > 0.03%}
            <td>NEUTAL</td>

            {% endif %}
            
          </tr>
            {% endfor %}

            {% endfor %}
        {% endif %}
   
        </tbody>
      </table>

{% endblock %}