{% extends 'app/main.html' %}
{% block content %}

<div class="container" id="div-margin-top">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert-message-div">
    <p id="alert-message text-center">{{message}}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  <br>
  <h3 class="text-center">CANVAS EXPERIENCE SURVEY</h3>
  <br>

  <form action="#" method="post" >
      {% csrf_token %}

      {% for item in form %}
          <!--Display Part-->
          {% if forloop.counter0 == 1 %}
              <h5 id="survey-label">ACCESSIBILITY</h5>

          {% elif forloop.counter0 == 32 %}
              <h5 id="survey-label">INSTRUCTION</h5>

          {% elif forloop.counter0 == 38  %}
              <h5 id="survey-label">ASSESSMENT AND COLLABORATION</h5>
          {% endif %}

          {% if forloop.counter0 == 27 %}
                <div class="form-group">
                  {{ questions.13.question_description }}
                </div>
          {% elif forloop.counter0 == 38 %}
                <div class="form-group">
                  {{ questions.21.question_description }}
                </div>
          {% elif forloop.counter0 == 44 %}
                <div class="form-group">
                  {{ questions.26.question_description }}
                </div>
          {% endif %}

          {% if forloop.counter0 == 0 %}
              <div class="form-group">
                  <label>{{ item.label }}</label>
                  {{ item }}
              </div>

          {% elif forloop.counter0 == 50 or  forloop.counter0 == 51 or forloop.counter0 == 52 %}
              <div class="form-group">
                  <label>{{ item.label }}</label>
                  {{ item }}
              </div>

          {% else %}
              {% if item.label == "Comment" %}
                  <div class="form-group">
                      <label>{{ item.label }}</label>
                      {{ item }}
                  </div>
              {% else %}
                  <div class="form-group">
                      {{ item.label }}
                  </div>
                  <div class="form-check">
                      {{ item }}
                  </div>
              {% endif %}

          {% endif %}
      {% endfor %}

      <div class="row" id="survey-submit-button">
          <div class="col-sm-2 col-md-auto col-lg-4">
          </div>
          <div class="col-sm-8 col-md-4 col-lg-4">
              <input class="btn btn-primary btn-block" type="submit" value="Submit">
          </div>
          <div class="col-sm-2 col-md-auto col-lg-4">
          </div>
      </div>
  </form>
</div>
<!--End of container-->

{% endblock %}