{% extends 'app/main.html' %}
{% block content %}


<div class="row justify-content-md-center" id="thankyou">
    <div class="col-sm-2 col-md-auto col-lg-4">
    </div>
    <div class="col-sm-8 col-md-4 col-lg-4">

        <div class="card">
            <div class="card-header text-center">
                <h4>Thank you!</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">Submitted Succesfully!</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-auto col-lg-4">
    </div>
</div>

{% endblock %}